.navbar {
    text-align: center; 
  }
  
  .navbar-nav {
    list-style-type: none; 
    padding: 0; 
  }
  
  .nav-item {
    display: inline-block; 
    margin: 0 10px; 
  }
  
  .nav-link {
    text-decoration: none; 
    color: #000; 
  }